.product-card-wrapper {
  transition: transform 0.3s ease;
  height: 100%;
}

.product-card-wrapper:hover {
  transform: translateY(-6px);
}

.product-card {
  border-radius: 12px;
  overflow: hidden;
  border: none;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  height: 100%;
  max-width: 300px;
}

.product-card.p-card .p-card-body, .product-card.p-card .p-card-content {
  padding: 0 !important; /* si Prime te mete padding y te rompe el layout */
}

/* IMAGE AREA */

.image-container {
  height: 280px;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image {
  height: fit-content;
  width: 100%;
  position: absolute;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.preview {
  opacity: 0;
}

.fade-out {
  opacity: 0;
  transform: scale(1.05);
}

.fade-in {
  opacity: 1;
  width: 100%;
  transform: scale(1.05);
}

/* Badge */

.badge-top {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 3;
}

/* Hover Button */

.hover-actions {
  position: absolute;
  bottom: -50px;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
}

.hover-actions.show {
  bottom: 15px;
}

/* Product Info */

.product-info {
  padding: 1rem;
}

.product-info h4 {
  font-size: 1rem;
  margin: 0.5rem 0;
  color: #111;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.price-container {
  display: flex;
  flex-direction: column;
}

.price-old {
  color: #4b4b4b;
  text-decoration: line-through;
  font-size: 0.80rem;
  font-weight: 700;
}

.price-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.price-new { 
  font-size: 1.8rem;
  font-weight: 600;
  color: #111;
  display: flex;
  align-items: baseline;
}

.price-new.is-discount {
  color: #d40000;
}

.price-new .currency {
  font-size: 12px;
  margin-right: 1px;
  position: relative;
  top: -0.8rem;
}

.price-new .amount {
  letter-spacing: 0.01rem;
}

.discount-tag.p-tag {
  font-size: 10px;
  padding: 4px 6px;
  background-color: #d70000;
}

.product-link {
  text-decoration: none;
  color: inherit;
  display: block;
}