.product-card-wrapper {
  transition: transform 0.3s ease;
  height: 100%;
}

.product-card-wrapper:hover {
  transform: translateY(-6px);
}

.product-card {
  border-radius: 12px;
  overflow: hidden;
  border: none;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  height: 100%;
}

.product-card.p-card .p-card-body, .product-card.p-card .p-card-content {
  padding: 0 !important; /* si Prime te mete padding y te rompe el layout */
}

/* IMAGE AREA */

.image-container {
  height: 280px;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image {
  height: fit-content;
  position: absolute;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.preview {
  opacity: 0;
}

.fade-out {
  opacity: 0;
  transform: scale(1.05);
}

.fade-in {
  opacity: 1;
  transform: scale(1.05);
}

/* Badge */

.badge-top {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 3;
}

/* Hover Button */

.hover-actions {
  position: absolute;
  bottom: -50px;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
}

.hover-actions.show {
  bottom: 15px;
}

/* Product Info */

.product-info {
  padding: 1rem;
}

.product-info h4 {
  font-size: 1rem;
  margin-bottom: 0.5rem;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.price {
  color: #F26729;
  /* font-weight: 600; */
  font-size: 1rem;
  margin: 0 !important;
}

.old-price {
  text-decoration: line-through;
  color: #888;
  margin-right: 0.5rem !important;
}

.price-container {
  display: flex;
  align-items: center;
}