/* HERO */

.hero {
  background-image: url('./../../public/hero-image.png');
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  align-items: center;
  color: white;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
}

.hero-content {
  max-width: 600px;
  margin: 0 50px;
}

.hero-content h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.hero-button {
  padding: 0.75rem 1.5rem;
  background-color: #F26729;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color: #FC4E00;
}

/* CARD BANNER */

.card-banner {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

}

.card-banner .card-container {
  display: flex;
  justify-content: space-between;
  min-width: 600px;
  margin: 20px 30%;
}

.card-banner .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card-banner .card img {
  max-width: 70px;
  max-height: 70px;
}

.card-banner .card span {
  font-weight: bold;
  color: #1E3050;
}

/* FEATURED PRODUCTS */

.featured-products {
  background-color: #f9f9f9;
}

.featured-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.featured-header .view-all-button {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  color: #F3672A;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  overflow: hidden;
}

.featured-header h2 {
  color: #1E3050;
}

.featured-header .view-all-button .arrow {
  display: inline-block;
  transform: translateX(-10px);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.view-all-button:hover .arrow {
  transform: translateX(0);
  opacity: 1;
}

.featured-products .product-grid {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.featured-products .product-card {
  border: none;
  flex-direction: column;
  justify-content: space-between;
}

.product-card .product-name {
  font-weight: bold;
}

.product-card img {
  max-width: 100%;
  height: auto;
}