/*.grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  margin-top: 2rem;
} */

h2 {
  color: #F3672A;
}

.catalog-container {
  font-family: 'Segoe UI', sans-serif;
  margin-top: 1rem;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 1rem;
  /* margin-top: 2rem; */
  align-items: stretch;
}

.counter {
  display: block;
  margin: 1rem 0;
  color: #424242;
  font-weight: 500;
}

.paginator-container { 
  display: flex; 
  justify-content: center;
  margin: 1rem auto; 
}

.results-not-found {
  width: 100%;
  text-align: center;
}